使icon對齊文字 .material-icons,
.material-icons-outlined {
  // display: inline;
  // vertical-align: middle;
  vertical-align: bottom;
  // line-height: 1px;
}

img {
  object-fit: cover;
}
.img-bottom {
  object-position: bottom;
}

.img-center {
  object-position: center;
}

.text-shadow {
  text-shadow: $black 0.1em 0.1em 0.2em;
}

.transLink {
  transition: transform 0.5s ease;
}

.transLink:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  text-shadow: 1px 1px 2px $light;
}

.planChoose .card:hover,
.reservation .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
