$utilities: map-merge(
  $utilities,
  (
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                medium: $font-weight-medium,
                bk: $font-weight-bk,
                regular: $font-weight-regular,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
      responsive: true,
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height": (
      property: height,
      class: h,
      values: $imgSizes,
      responsive: true,
    ),
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        30: 0.3,
        50: 0.5,
        75: 0.75,
        100: 1,
      ),
    ),
  )
);
