.swiper-slide img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  @include pad {
    height: 150px;
  }
  @include pc {
    height: 445px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.multipleLesson .swiper-slide,
.thought .swiper-slide,
.swiperTeacher .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
