.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #907a7b;
}

.datepicker-picker {
  color: $primary;
}

.datepicker-dropdown .datepicker-picker {
  box-shadow: none;
  border: 1px solid $secondary;
  color: $primary;
}

.datepicker-header .datepicker-controls .button {
  color: $primary;
}

.datepicker-cell.next:not(.disabled),
.datepicker-cell.prev:not(.disabled) {
  color: $primary;
  opacity: 0.5;
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: $dark;
}
.datepicker-cell.today:not(.selected) {
  background-color: $dark;
}
