.logo {
  font-size: 0px;
}

.navbar-brand img,
footer img {
  width: 96px;
  height: 31px;
}

.btn-outline-primary {
  color: #907a7b;
  &:hover {
    color: #fff;
  }
  border-radius: 16px;
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.nav-link:hover::before {
  left: 0;
  right: 0;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 51%;
  right: 51%;
  z-index: -1;
  bottom: 1px;
  background: $secondary;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

footer .nav-link {
  color: #fff;
  &.active {
    color: $white;
  }
  &:hover {
    color: $white;
    text-shadow: 1px 1px 2px $dark;
  }
}

.socialIcon a {
  color: #fff;
  &.active {
    color: #000;
  }
  &:hover {
    color: #000;
  }
}

.socialFix {
  position: fixed;
  top: 30vh;
  right: 0%;
  z-index: 999;
}
