.navbar-brand img,
footer img {
  width: 96px;
  height: 31px;
}

.btn-outline-primary {
  color: #907a7b;
  &:hover {
    color: #fff;
  }
  border-radius: 16px;
}

.nav-link {
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid $primary;
  }
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

footer .nav-link {
  color: #fff;
  &.active {
    color: #000;
  }
  &:hover {
    color: #000;
  }
}

.socialIcon a {
  color: #fff;
  &.active {
    color: #000;
  }
  &:hover {
    color: #000;
  }
}

.socialFix {
  position: fixed;
  top: 30vh;
  right: 0%;
  z-index: 999;
}
